[submodule "Lab1_Bitwise_and_pointers-Solution"]
	path = Lab1_Bitwise_and_pointers-Solution
	url = https://github.com/RobertJAlvarez/Lab1_Bitwise_and_pointers-Solution.git
[submodule "Lab2.1-Arrays-Solution"]
	path = Lab2.1-Arrays-Solution
	url = https://github.com/RobertJAlvarez/Lab2.1-Arrays-Solution.git
[submodule "Lab2.2-Memory-Solution"]
	path = Lab2.2-Memory-Solution
	url = https://github.com/RobertJAlvarez/Lab2.2-Memory-Solution.git
[submodule "Lab2.2-RV32_Interpreter-Solution"]
	path = Lab2.2-RV32_Interpreter-Solution
	url = https://github.com/RobertJAlvarez/Lab2.2-RV32_Interpreter-Solution.git
[submodule "Lab3-Expression_Compiler-Solution"]
	path = Lab3-Expression_Compiler-Solution
	url = https://github.com/RobertJAlvarez/Lab3-Expression_Compiler-Solution.git
